.offline {
  background-color: red;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.error {
  background-color: #ffe7a6;
  color: red;
  border-radius: 5px;
  font-weight: 500;
}
